<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
        {% block title %}<title>Home</title>{% endblock %}
    <meta name="viewport" content="width=device-width" />

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}
        {% endblock %}
    {% endblock %}
  </head>

{% include '_header.html.twig' %}
  <body>

    {% if app.request.get('_route') != 'home' %}
        <a class="nav-link" href="{{ path('home') }}"> Retourner à l'accueil </a>
    {% elseif app.request.get('_route') == 'home' %}
        <a class="nav-link" href="{{ path('burgers') }}"> liste des burgers </a>
    {% endif %}

    {% block titre %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </body>
  {% include '_footer.html.twig' %}
</html>