{% extends 'base.html.twig' %}

{% block title %}<title>Burgers !</title>{% endblock %}

{% block titre %}{{ parent() }}<h1 class="text-3xl font-bold underline m-0">La recette du burger </h1>{% endblock %}
 
{% block content %}
    <div>
    <h1>{{ burger.name }}</h1>
    <p>Il coute {{ burger.price }} euros pas cher pas cher prends stp</p>
    </div>
{% endblock %}